{% extends 'index.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}

    

   
    <table class="table table-dark table-hover">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Subject</th>
              <th scope="col">Message</th>
            </tr>
          </thead>
          <tbody>
            {% for i in youcontact %}
            <tr>
              <th scope="row">{{i.first_name}} {{i.last_name}}</th>
              <td>{{i.email}}</td>
              <td>{{i.subject}}</td>
              <td>{{i.message}}</td>
            </tr>
            {% endfor %}

          </tbody>
  
      </table>



    {% endif %}

    {% endblock %}
