{% load i18n %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="perfume Services Template">
    <meta name="keywords" content="perfume, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PERFUME SERVICES</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader">
        </div>
    </div>
    
    <!-- Search model -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input" placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="inner-header">
                <div class="logo">
                    <a href="{% url 'home' %}"><img src="{% static 'img2/small-logo.png' %}" alt=""></a>
                    <span>Perfume Services</span>
                </div>
                <!-- <div class="header-right">
                    <img src="img/icons/search.png" alt="" class="search-trigger">
                    <img src="img/icons/man.png" alt="">
                    <a href="#">
                        <img src="img/icons/bag.png" alt="">
                        <span>2</span>
                    </a>
                </div> -->
                <div class="user-access">
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">{% trans 'Log out' %}</a>
                    {% else %}
                    <a href="#modalsignup" class="signup-btn" data-toggle="modal" >{% trans 'Sign in' %}</a>
                    <div class="modal" tabindex="-1" id="modalsignup">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"></h5>
                            </div>
                            <div class="modal-body">
                              {% include 'registration/login.html' %}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                </div>
                <nav class="main-menu mobile-menu">
                    <ul>
                        <li><a class="active" href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                        <li><a href="#about">{% trans 'About' %}</a></li>
                        <li><a href="#products-services">{% trans 'Product & Services' %}</a></li>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'contact' %}">{% trans '' %}Contact</a></li>
                        {% endif %}
                        <li>
                        <form action="{% url 'set_language' %}" method="post">{%csrf_token%}
                            <select name="language" onchange="this.form.submit()" class="language" style="border: none;">
                              {% get_current_language as LANGUAGE_CODE %}
                              {% get_available_languages as LANGUAGES %}
                              {% get_language_info_list for LANGUAGES as languages %}
                              {% for language in languages %}
                              <option value="{{language.code}}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
                                {{language.name_local}}
                              </option>
                              {%endfor%}
                            </select>
                          </form>
                        </li>
      
                                
                                    
                                    
                            
                        
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!-- Header Info Begin -->
    <div class="header-info">
        <div class="container-fluid">
            <div class="row">
                
            </div>
        </div>
    </div>
    <!-- Header Info End -->
    <!-- Header End -->

    {% block content %}

    {% for message in messages %}
    {% if message.tags == 'info' %}
    {% elif message.tags == 'error' %}

    {% endif %}


    {% endfor %}
    <!-- Hero Slider Begin -->
    <section class="hero-slider">
        <div class="hero-items owl-carousel">
            <div class="single-slider-item set-bg" data-setbg="{% static 'img2/essential-oils1.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1>2023</h1>
                            <h2>{% trans 'Newest Fragrances.' %}</h2>
                            <a href="{% url 'about' %}" class="primary-btn">{% trans 'Get a Free Test Now' %}</a>
                        
                        </div>
                    </div>
                </div>           
        </div>
    </div>
    </section>
    <!-- Hero Slider End -->

    <!-- Features Section Begin -->
    <section class="features-section spad">
        <div class="features-ads">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-features-ads ">
                            <img src="{% static 'img2/products/41.jpg' %}" alt="">
                            <h4>Device 1</h4>
                            <p>some information about the device </p>

                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads ">
                            <img src="{% static 'img2/1.png' %}" alt="">
                            <h4>Device 2</h4>
                            <p>some information about the device </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-features-ads">
                            <img src="{% static 'img2/products/5.jpeg' %}" alt="">
                            <h4>Device 3</h4>
                            <p>some information about the device </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Box -->
 
    </section>
    <!-- Features Section End -->
    <section class="lookbok-section" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>{% trans 'About' %} <br />{% trans '#Us' %}</h2>
                        </div>
                        <p>{% trans 'We are a unique provider of perfume solutions, offering full solutions in all channels with a high level of customer satisfaction using the updated technology units.' %}</p>   
                       </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic">
                        <img src="{% static 'img2/aboutus-removebg-preview.png' %}" alt="">
                        <div class="pic-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <section class="lookbok-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>{% trans 'PERFUME SERVICES' %} <br />{% trans 'TECHNOLOGY' %}</h2>
                        </div>
                        <p>{% trans 'Our equipment is unique with a high level of customer satisfaction, reliable,adjustable, easy to maintain, and updated safety standards.' %}
                            
                            
                            </p>                        
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic">
                        <img src="{% static 'img2/1-removebg-preview.png' %}" alt="" style="height: 50%; width: 50%;">
                        <div class="pic-text"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <br><br>
  

    <!-- Lookbok Section Begin -->
    <section class="lookbok-section" id="products-services">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 offset-lg-1">
                    <div class="lookbok-left">
                        <div class="section-title">
                            <h2>{% trans 'Products' %} <br />& {% trans 'Services' %}</h2>
                        </div>
                        <p>{% trans 'Scent development All our aromas are created under the highest quality standards and meet IFRA (International Fragrance Association), which is the official representative body of the fragrance industry worldwide' %}</p>

                            
                        
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="lookbok-pic">
                        <img src="{% static 'img2/5-removebg-preview.png' %}" alt="">
                        <div class="pic-text"></div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Lookbok Section End -->
    {% endblock %}
    <!-- Logo Section Begin -->
    <div class="logo-section spad">
        <div class="logo-items owl-carousel">
            <div class="logo-item">
                <img src="img/logos/logo-1.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-2.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-3.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-4.png" alt="">
            </div>
            <div class="logo-item">
                <img src="img/logos/logo-5.png" alt="">
            </div>
        </div>
    </div>
    <!-- Logo Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="social-links-warp">
			<div class="container">
				<div class="social-links">
					<a href="" class="instagram"><i class="fa fa-instagram"></i><span>instagram</span></a>
					<a href="" class="pinterest"><i class="fa fa-pinterest"></i><span>pinterest</span></a>
					<a href="" class="facebook"><i class="fa fa-facebook"></i><span>facebook</span></a>
					<a href="" class="twitter"><i class="fa fa-twitter"></i><span>twitter</span></a>
					<a href="" class="youtube"><i class="fa fa-youtube"></i><span>youtube</span></a>
					<a href="" class="tumblr"><i class="fa fa-tumblr-square"></i><span>tumblr</span></a>
				</div>
			</div>

<div class="container text-center pt-5">
                <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <a href="#" target="_blank">MOR GROUP</a>
  </p>
            </div>


		</div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
            })
    </script>
</body>

</html>

